name: Test and Publish to NuGet

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Run Tests
        run: dotnet test

      - name: Build the project
        run: dotnet build --configuration Release --no-restore

      # Disabled for the fork on purpose
      #- name: Pack the project
      #  run: dotnet pack --configuration Release --no-build --output ./nupkgs

      # Disabled for the fork on purpose
      #- name: Publish to NuGet
      #  env:
      #    NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      #  run: dotnet nuget push ./nupkgs/*.nupkg --source https://api.nuget.org/v3/index.json --api-key $NUGET_API_KEY --skip-duplicate
